*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:visited {
    color: white;
}

body, html {
    background-image: radial-gradient( circle 506px at 50.6% 16.5%,  rgb(225, 245, 242) 5.5%, rgba(154,192,206,1) 100.2% );
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

header {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    height: 5em;
    color: rgb(255, 255, 255);
}

.center-display {
    display: flex;
    justify-content: center;
}

.display-ctn {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    width: 25em;
    height: 6em;
    padding: 0 1em 0.5em 1em;
    background-color:  rgba(248, 248, 248, 0.781);
}

#display {
    font-size: 2.5em;
    font-weight: bolder;
}

#display-top {
    font-size: 1em;
    color: rgb(146, 146, 146);
}

.calc-center {
    display: flex;
    justify-content: center;
}

#calc-ctn {
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 25rem;
    background-color: rgb(245, 253, 255);
    color: black;
    margin-bottom: 2em;
}

.nums {
    text-align: center;
    padding: 1.6rem;
    font-size: 1.6em;
    align-self: stretch;
    border: 0.5px rgb(224, 224, 224) solid;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.nums:hover {
    cursor: pointer;
    background-color: rgba(193, 201, 204, 0.603);
    box-shadow: -1px 1px 8px 0px rgba(212, 212, 212, 0.48);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(190, 190, 190, 0.48);
    -moz-box-shadow: -1px 1px 8px 0px rgba(175, 174, 174, 0.48);
}

.nums:active {
    font-size: 1.5em;
}

.clear {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.6em;
    align-self: stretch;
    border: 0.5px rgb(221, 221, 221) solid;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.clear {
    border: 0.5px rgb(221, 221, 221) solid;
    align-self: stretch;
    background-color:rgb(199, 199, 199);
}

.clear:hover {
    cursor: pointer;
    background-color: #d89c63;
    box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -moz-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
}

.clear:active {
    font-size: 1.5em;
}

.operators {
    text-align: center;
    align-self: stretch;
    padding: 1.5rem;
    font-size: 1.8em;
    background-color: rgba(154, 192, 206, 0.801);
    border: 0.5px rgb(221, 221, 221) solid;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.operators:hover {
    cursor: pointer;
    background-color: rgb(164, 199, 214);
    box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -moz-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
}

.operators:active {
    font-size: 1.5em;
}

.operate-btn {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.8em;
    align-self: stretch;
    background-color:rgb(199, 199, 199);
    border: 0.5px rgb(221, 221, 221) solid;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.operate-btn:hover {
    cursor: pointer;
    background-color: rgba(172, 172, 172, 0.801);
    box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -webkit-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
    -moz-box-shadow: -1px 1px 8px 0px rgba(141,141,141,0.48);
}

.operate-btn:active {
    font-size: 1.5em;
}

footer {
    font-size: 1.2em;
    margin-top: 4em;
    color: white;
    text-align: center;
}

.git-link {
    font-weight: bold;
}

.git-img {
    width: 1em;
    height: auto;
    margin: -0.1em 0.3em;
}